body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
/* Header */
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-right: 76px
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
button {
    border: 0;
}

img {
    display: block;
}
.header{
    border-bottom: 1px solid #e7e9fc;
    display: flex;
}
.container {
    width: 1158px;
    margin: 0 auto;
    justify-content: center;
    padding: 0 15px;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-logo-text {
     color: #2e2f42;
}
.header-navigation {
    display: flex;
    align-items: center;
 }
 .header-menu-list {
    display: flex;
    gap: 40px;
 }
.header-menu-item {
    color:#FFFFFF;
    display: flex;
    gap: 40px;
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}
.header-menu-link:hover,
.header-menu-link:focus
 {
    color: #404bbf;
}
.header-logo:hover,
.header-logo:focus {
    color: #404bbf;
}

.address-menu {
    font-style: normal;
    margin-left: auto;
}
.address-menu-list {
    display: flex;
    gap: 40px;
}
.address-menu-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-menu-text:hover,
.address-menu-text:focus {
    color: #404bbf;
}

/* Hero */
.hero {
    background-color: #2e2f42;
    justify-content: center;
    padding: 188px 0;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 496px;
}
.button {
display: block;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    margin-top: 48px;
    min-width: 169px;
    width: 169px;
    height: 56px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
 .button:hover {
     background-color: #404bbf;
     color: #404bbf;
 }
 .button:focus {
     background-color: #404bbf;
     color: #404bbf;
 }
/* Hero */

/* Features */
.features {
padding-top: 120px;
padding-bottom: 120px;
}
.features-list {
display: flex;
gap: 24px;
}
.features-item {
width: calc((100% - 72px) / 4);
}
.features-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.features-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* Features */

/* Team */
.team {
background-color: #F4F4FD;
padding-top: 120px;
padding-bottom: 120px;
}

.team-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;
}
.team-list{
    display: flex;
    gap: 24px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding: 32px 0;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.team-item {
    background-color: #FFFFFF;
    text-align: center;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.card-title {
    padding: 32px 0;
}
.team-subtitle {
text-align: center;
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/* Team */

/* Our Postfolio */
.portfolio {
padding-top: 120px;
padding-bottom: 120px;
}
.portfolio-item {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.portfolio-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.portfolio-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
}
.portfolio-subtitle {
 font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 letter-spacing: 0.02em;
 color: #2e2f42;
 margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* Portfolio */

/* Basement */
.basement {
    background: #2e2f42;
    padding: 100px 0;
}

.basement-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-align: left;
    display: inline-block;
    margin-bottom: 16px;
}

.basement-logo-text {
    color: #f4f4fd;
    display: inline-block;
}

.basement-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
     max-width: 264px;
}